<?xml version="1.0"?>
<config>
  <modules>
    <SecurePay_SecureFrame>
      <version>0.1.0</version>
    </SecurePay_SecureFrame>
  </modules>
  <global>
    <models>
      <secureframe>
        <class>SecurePay_SecureFrame_Model</class>
      </secureframe>
    </models>
    <helpers>
      <secureframe>
        <class>SecurePay_SecureFrame_Helper</class>
      </secureframe>
    </helpers>
    <blocks>
      <secureframe>
        <class>SecurePay_SecureFrame_Block</class>
      </secureframe>
    </blocks>
  </global>
  <default>
    <payment>
      <secureframe>
        <model>secureframe/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>Credit Card (powered by SecurePay)</title>
        <payment_action>sale</payment_action>
        <test_mode>1</test_mode>
        <merchant_id></merchant_id>
        <transaction_password></transaction_password>
        <transaction_type></transaction_type>
        <template>iframe</template>
        <stylesheet_url></stylesheet_url>
        <allowspecific>0</allowspecific>
        <accepted_card_types>VISA,MASTERCARD</accepted_card_types>
        <currency_accepted>AUD</currency_accepted>
        <sort_order>1</sort_order>
      </secureframe>
    </payment>
  </default>
  <frontend>
    <routers>
      <secureframe>
        <use>standard</use>
        <args>
          <module>SecurePay_SecureFrame</module>
          <frontName>secureframe</frontName>
        </args>
      </secureframe>
    </routers>
  </frontend>
</config>
